html, button, input, select, textarea, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"]{
    font-family: 'Open Sans', sans-serif;
}

html{
    background: #2d2d2d;
    overflow-y: scroll;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    margin: 0 auto;
}

header > .home-menu{
    background: inherit !important;
    height: 54px;
    display: flex;
}

header > .home-menu > a.pure-menu-heading, header > .home-menu > ul, header > .home-menu > ul > li{
    display: flex !important;
    align-items: center;
    justify-content: center;
    line-height: normal !important;
}

header > .home-menu > a.pure-menu-heading{
    color: white;
    font-size: 1.5em;
}

header > .home-menu > ul > li > a{
    color: #ced4d9;
    font-size: 14px;
    padding: 5px 10px;
}

header > .home-menu > ul > li > a:hover, header > .home-menu > ul > li > a:focus{
    background: inherit !important;
}

header > .home-menu > ul > li > a:hover, header > .home-menu > ul > li.pure-menu-selected > a{
    color: white;
}

main{
    background-color: #ebf4fa;
    position: relative;
}

footer{
    text-align: center;
    color: #b3b3b3;
    text-decoration: none;
    font-size: 0.8em;
    padding: 15px;
    line-height: 24px;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer iframe{
    vertical-align: middle;
}
.postItem{
    border-bottom:2px solid #005984
}

/* Josh's alert box */
/* .alert {
    border-radius: 10px;
    padding: 1px 5px;
    background-color: #D66058;
    color: white;
    opacity: 10;
    transition: opacity 0.6s;
    margin-bottom: 10px;
}
.alert p{
    margin: 0.7em 0;
}
.alert.mzorange {background-color: #ff8c28;}
.alert.success {background-color: #02CA4B;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}
.alert.mzpurple {background-color: #B064E1;}
.alert.mzdarkpurple {background-color: #483D8B;}
.alert.mzcyan {background-color: #0EAFC7;}
.alert.mzoffgreen {background-color: #10BB9C;}
.hidealert {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.hidealert:hover {
    color: black;
} */
/* End Josh's alert box */

div {
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
    background-color: red;
    color: #fff;
    border-radius: 10px;
    padding: 1px 5px;
    background-color: rgb(0, 238, 255);
    color: black;
    opacity: 10;
    transition: opacity 0.6s;
    margin-bottom: 10px;
  }
.closebtn {
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  .closebtn:hover {
    color: #000;
  }